<footer class="footer">
    <div class="container">

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <hr style="height: 1px; background-color: grey;">
        <div class="content is-small has-text-centered">
            <p class="">Designed by <a href="https://github.com/swapnil2597">Swapnil Khare</a></p>
        </div>
    </div>
</footer>
